* {
  cursor: none;
}

:root {
  font-family: "Pretendard", system-ui, Avenir, Helvetica, Arial, sans-serif;

  cursor: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  cursor: none;
}

.container {
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}