.main-nav {
  align-self: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-wrapper {
  display: flex;
  padding: 25px 25px;
  justify-content: space-between;
  align-items: center;
  gap: auto;
  background-color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.nav-home {
  color: var(--Black, #2d2d2d);
  font-family: YdestreetB;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
}

.nav-link {
  color: var(--Black, #2d2d2d);
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 164.706% */
}
